:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(146, 68%, 55%);
  --toggle: hsl(230, 22%, 74%);
  --dark-bg: hsl(230, 17%, 14%);
  --dark-bg-top: hsl(232, 19%, 15%);
  --dark-bg-card: hsl(228, 28%, 20%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --light-bg-top: hsl(225, 100%, 98%);
  --light-bg-card: hsl(227, 47%, 96%);
  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
}
