@use "../utility" as *;

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: rem(24);
  @include breakpoints(large) {
    font-size: rem(28);
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
}
